@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400;1,500&display=swap');
.home {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.nav {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

.hero {
  background-image: url('../public/assets/imgs/home_back2.jpg');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  height: 100vh;
  width: auto;
}

.gradient-fade {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 10rem;
  width: 100%;
}

.subhead {
  font-family: 'Roboto', sans-serif;
  font-size: 54px;
  line-height: 64px;
}

/*Timer styling*/
.hurry-up {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  width: 100%;
  height: 0;
}

.hero-2 {
  background-image: url('../public//assets/imgs/vulcanzy-home\ page\ cover2.jpg');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.bor {
  border: solid #aa336a 3px;
  border-radius: 10%;
  text-align: center;
}
.event-card {
  border-radius: 41px;
  background: linear-gradient(145deg, #0c0c0c, #0e0e0e);
  box-shadow: 11px 11px 12px #060606, -11px -11px 12px #141414;
}
.event-card2 {
  border-radius: 56px;
  background: #171616;
  box-shadow: 35px 35px 28px #0b0a0a, -35px -35px 28px #232222;
}
/*Card styling*/
.box_border {
  border: 2px solid white;
  border-radius: 2.5%;
}
.flip-card {
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.85s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  border-radius: 41px;
  background: linear-gradient(145deg, #0c0c0c, #0e0e0e);
  box-shadow: 11px 11px 12px #060606, -11px -11px 12px #141414;
}

.flip-card-back {
  border-radius: 41px;
  background: linear-gradient(145deg, #0c0c0c, #0e0e0e);
  box-shadow: 11px 11px 12px #060606, -11px -11px 12px #141414;
  color: white;
  transform: rotateY(180deg);
}
/*Learn more button*/
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
}

button.learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}
